<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css"/>
    </head>
    <body>
        {{{body}}}
        <h1 id="my-heading">This is boring text</h1>
        <button id="my-button" type="button">Click to change text</button>
    </body>
    <script>
        document.getElementById('my-button').addEventListener('click', () => {
            var headingElement = document.getElementById("my-heading");
            if (headingElement.innerHTML !== "Hello") {
                headingElement.innerHTML="Hello";
            } else {
                headingElement.innerHTML="This is boring text";
            }
        });
    </script>
</html>